-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
= link_to 'Edit info', edit_movie_path(@movie)
= link_to 'Delete', movie_path(@movie), :method => :delete
= link_to 'Back to home page', movies_path
